<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Tìm Kiếm</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/user' ? 'active' : '' %>" href="/user">Thông Tin Cá Nhân</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/rollcall' ? 'active' : '' %>" href="/rollcall">Điểm Danh</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/timerecords' ? 'active' : '' %>" href="/timerecords">Thông Tin Giờ Làm</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/covid-19' ? 'active' : '' %>" href="/covid-19">Thông Tin Covid</a>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/search' ? 'active' : '' %>" href="/">Tìm Kiếm</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/user' ? 'active' : '' %>" href="/user">Thông Tin Cá Nhân</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/rollcall' ? 'active' : '' %>" href="/rollcall">Điểm Danh</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/timerecords' ? 'active' : '' %>" href="/timerecords">Thông Tin Giờ Làm</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/covid-19' ? 'active' : '' %>" href="covid-19">Thông Tin Covid</a>
        </li>
    </ul>
</nav>